/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF
*/

*{
      font-family: "Gothic A1", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-stretch: ultra-expanded;
      }

html{
    font-size: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    margin-left: 0px;
    margin-right: 0px;
    width: 100rem;
    height: 1000px;

}

.fixed{
    width: 1em;
    position: fixed;
    margin-top: 0;
    display: flex;
}

#logo{
    width: 20rem ;
    display: flex;
    align-self: flex-start;
    justify-self: flex-start;
    left: 0px;
}

.navul{
    position: fixed;
    
    width: 20em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    color: black;
    font-size: 2em;
    right: 0px;
    
}

#navbar{
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    width: 1500px;
}

#sec1{
    margin: 0;
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#music{
    width: 1500px;
    margin: 0;
}

.premium{
    color: white;
    font-size: 5.3em;
    position: relative;
    display: flex;
    align-items: center;
    margin: 0;
    justify-content: center;
    bottom: 46rem;
    letter-spacing: 4px;
    font-weight: 0.1rem; 
   
}

/* .spoty{
    color: white;
    position: relative;
    bottom: 45 rem;
    width: 30em;
    font-size: 1.5em;
    text-align: center;
    display: flex;
    justify-content: center;
}
 */
#responsive{
    width: 100%vw;
}

.subt{
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    position: relative;
    bottom: 25em;
    font-size: 1.8em;
    font-weight: 80;
    letter-spacing: 2px;

}

.whatson{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around
}

.whath1{

   display: flex;
   justify-content: center;
   padding-bottom: 10rem;

   
}
/* 
.whatson div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

} */

.whatson div{
    width: 20vw;
    display: flex;
    
}

.whatson>div>img{
    width: 10vw;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.whatson>div>h3{
    display: flex;
    justify-content: center;
}
.whatson>div>p{
    display: flex;
    justify-content: center;
    
}

#collumn{
    display: flex;
    flex-direction: column;
}

.row{
    width: 90%;
    display: flex;
    align-items: center;
    background-color: #00B172 ;
    margin-left: 5%;
    padding-left: 5%;
    margin-right: 5%;
}

.row>div{
    padding: 0 5%;
    color: white;
}

#whitelogo{
    width: 10em;
}

#yeezy{
    height: 30em;
    padding: 5em;
}






